{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <h2 class="border-bottom py-2">{{ board.board_subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ board.board_content }}</div>

                <label>Positive</label><br>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" id="emo_Positive"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
                <label>Neutral</label><br>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" id="emo_Neutral"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
                <label>Mixed</label><br>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar"  id="emo_Mixed"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
                <label>Negative</label><br>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar"  id="emo_Negative"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
                <label>Happy</label><br>
                <div class="progress">
                    <div class="progress-bar bg-happy" role="progressbar" id="board_img_happy"
                          aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
                <label>Sad</label><br>
                <div class="progress">
                        <div class="progress-bar bg-sad" role="progressbar" id="board_img_sad"
                            aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
                <label>Angry</label><br>
                <div class="progress">
                        <div class="progress-bar bg-angry" role="progressbar" id="board_img_angry"
                            aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
                <label>Confused</label><br>
                <div class="progress">
                        <div class="progress-bar bg-confused" role="progressbar" id="board_img_confused"
                            aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
                <label>Disgusted</label><br>
                <div class="progress">
                        <div class="progress-bar bg-disgusted" role="progressbar" id="board_img_disgusted"
                            aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
                <label>Surprised</label><br>
                <div class="progress">
                        <div class="progress-bar bg-surprised" role="progressbar" id="board_img_surprised"
                            aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
                <label>Calm</label><br>
                <div class="progress">
                        <div class="progress-bar bg-calm" role="progressbar" id="board_img_calm"
                            aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
                <label>Fear</label><br>
                <div class="progress">
                        <div class="progress-bar bg-fear" role="progressbar" id="board_img_fear"
                            aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {{ board.mem_name }}
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {{ board.board_date }}
                </div>
            </div>
        </div>
    </div>
    <h5 class="border-bottom my-3 py-2">{{board.answer_set.count}}개의 댓글이 있습니다.</h5>
    {% for answer in board.answer_set.all %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ answer.answer_content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {{ answer.mem_name }}
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {{ answer.answer_date }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <form action="{% url 'diary:answer_board' board.id %}" method="post" class="my-3">
        {% csrf_token %}
        <div class="form-group">
            <textarea name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="댓글등록" class="btn btn-primary">
    </form>
</div>

<script>
    var temporarily_data = "{{ board.board_emo }}"      // board_emo 저장
    var emotions = temporarily_data.split('/')          // split으로 가공
    var temporarily_image = "{{ board.board_img }}"
    var images = temporarily_image.split('/')

    // 각 프로그레스바 설정
    document.getElementById('emo_Positive').style.width = emotions[0] +'%';
    document.getElementById('emo_Neutral').style.width = emotions[1] +'%';
    document.getElementById('emo_Mixed').style.width = emotions[2] +'%';
    document.getElementById('emo_Negative').style.width = emotions[3] +'%';
    document.getElementById("board_img_happy").style.width = images[0] + '%';
    document.getElementById("board_img_sad").style.width = images[1] + '%';
    document.getElementById("board_img_angry").style.width = images[2] + '%';
    document.getElementById("board_img_confused").style.width = images[3] + '%';
    document.getElementById("board_img_disgusted").style.width = images[4] + '%';
    document.getElementById("board_img_surprised").style.width = images[5] + '%';
    document.getElementById("board_img_calm").style.width = images[6] + '%';
    document.getElementById("board_img_fear").style.width = images[7] + '%';
</script>



{% endblock %}