{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<div class="container">
    <h5 class="my-3 border-bottom pb-2">일기 작성</h5>
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        <!-- 각 항목이 비어있을 때 오류표시 -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->

        <div class="form-group">
            <label>제목</label>
            <input type="text" class="form-control" name="board_subject" id="board_subject"
                   value="{{ form.board_subject.value|default_if_none:'' }}">
        </div>


        <div class="form-group">
            <label>일기</label>
            <textarea class="form-control" name="board_content"
                      id="board_content" rows="10">{{ form.board_content.value|default_if_none:'' }}</textarea>
        </div>

        <!-- 내용에 채워진 일기로 감정 분석을 위해서 누르는 버튼 -->
        <input type="button" value="일기 감정 분석" class="btnAjax btn btn-outline-secondary">

        <!-- 감정 분석 결과창, 읽기 전용, 사용자가 수정 불가능 -->
        <div class="form-group">
            <br><label>감정 분석 결과</label>
            
            <input type="text" class="form-control" id="board_emo" name="board_emo" readonly="readonly"  style="display: none;"
                     value="{{ form.board_emo.value|default_if_none:'None' }}"><br>

                <label id="positive_label">Positive</label><br>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" id="emo_Positive"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
                <label id="neutral_label">Neutral</label><br>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" id="emo_Neutral"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
                <label id="mixed_label">Mixed</label><br>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar"  id="emo_Mixed"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
                <label id="negative_label">Negative</label><br>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar"  id="emo_Negative"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div><br>
        </div>

        <!-- 이미지 파일 업로드 -->
        <div class="form-group" id="ajaxUploadForm">
            <input type="file" id="picture" name="picture" onchange="imgPreview(this);" accept="image/*"
            value="{{ form.picture.value|default_if_none:'None' }}" style="display:none">
            <div class="btn btn-outline-secondary" type="button" onclick="document.all.picture.click()">사진 추가</div>
            <input class="btn btn-outline-secondary" type="button" value="이미지 분석" onclick="ajaxFileUpload()">
            <img id="mypic" src="#" width="300" style="display:none">
        </div><br>

        <!-- 이미지 분석 결과 -->
        <div class="form-group">
            <label>이미지 분석 결과</label><br>
            <input type="text" class="form-control" name="board_img" id="board_img" readonly="readonly"
                   value="{{ form.board_img.value|default_if_none:'None' }}"><br>
            
            <label id="label_happy">Happy</label><br>
            <div class="progress">
                    <div class="progress-bar bg-happy" role="progressbar" id="board_img_happy"
                        aria-valuemin="0" aria-valuemax="100"></div>
            </div><br>

            <label id="label_sad">Sad</label><br>
            <div class="progress">
                    <div class="progress-bar bg-sad" role="progressbar" id="board_img_sad"
                        aria-valuemin="0" aria-valuemax="100"></div>
            </div><br>

            <label id="label_angry">Angry</label><br>
            <div class="progress">
                    <div class="progress-bar bg-angry" role="progressbar" id="board_img_angry"
                        aria-valuemin="0" aria-valuemax="100"></div>
            </div><br>

            <label id="label_confused">Confused</label><br>
            <div class="progress">
                    <div class="progress-bar bg-confused" role="progressbar" id="board_img_confused"
                        aria-valuemin="0" aria-valuemax="100"></div>
            </div><br>

            <label id="label_disgusted">Disgusted</label><br>
            <div class="progress">
                    <div class="progress-bar bg-disgusted" role="progressbar" id="board_img_disgusted"
                        aria-valuemin="0" aria-valuemax="100"></div>
            </div><br>

            <label id="label_surprised">Surprised</label><br>
            <div class="progress">
                    <div class="progress-bar bg-surprised" role="progressbar" id="board_img_surprised"
                        aria-valuemin="0" aria-valuemax="100"></div>
            </div><br>

            <label id="label_calm">Calm</label><br>
            <div class="progress">
                    <div class="progress-bar bg-calm" role="progressbar" id="board_img_calm"
                        aria-valuemin="0" aria-valuemax="100"></div>
            </div><br>

            <label id="label_fear">Fear</label><br>
            <div class="progress">
                    <div class="progress-bar bg-fear" role="progressbar" id="board_img_fear"
                        aria-valuemin="0" aria-valuemax="100"></div>
            </div><br>
        </div>

        <!-- 이건 뭘로 채움? -->
        <div class="form-group">
            <label>태그</label>
            <input type="text" class="form-control" name="board_tag" id="board_tag"
                   value="{{ form.board_tag.value|default_if_none:'#None' }}">
        </div>

        <!-- 게시물 저장 버튼 -->
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>


<!-- 예시 : 원빈의 전무후무한 명연기, 명대사 그리고 지금은 유명해진 조연들 찾는 재미까지 -->

<!-- 감정 분석 버튼을 위한 함수, AJAX 사용, 복잡 -->
<script>
    let btnAjax = document.querySelector('.btnAjax');
    btnAjax.addEventListener('click', e => {
        let getContent = document.getElementById('board_content').value;  //일기 내용 추출
        let param = {
            'content': getContent,   //json 형식으로 변환
        }
        $.ajax({
            url : "{% url 'diary:analyze_emotion' %}",    // urls.py 에 있는 path name
            type : 'POST',
            headers: {
                'X-CSRFTOKEN' : '{{ csrf_token }}'    // 오류 방지 및 보안을 위한 태그
            },
            data : JSON.stringify(param),    // 전송할 데이터

            // 오류없이 진행됐을 경우
            success:function(data){
                result_data = data;
                result_data2 = JSON.parse(result_data["result"]);
                result_data3 = JSON.stringify(result_data2["SentimentScore"]);
                result_data4 = JSON.parse(result_data3);
                //복잡하지만 위의 과정을 거쳐야 추출할 수 있었다. 추후에 수정 예정

                // emotions = [(result_data4["Positive"]*100).toFixed(1), (result_data4["Neutral"]*100).toFixed(1), 
                //             (result_data4["Mixed"]*100).toFixed(1), (result_data4["Negative"]*100).toFixed(1)]

                //각 감정값을 추출하는 코드
                $('#board_emo').val((result_data4["Positive"]*100).toFixed(1) + "/" + (result_data4["Neutral"]*100).toFixed(1)
                             + "/" + (result_data4["Mixed"]*100).toFixed(1) + "/" + (result_data4["Negative"]*100).toFixed(1));
                // $('#board_emo').val(emotions)

                // 감정 분석 후 값을 프로그레스바에 적용하는 코드
                document.getElementById('emo_Positive').style.width = result_data4["Positive"].toFixed(3) * 100 +'%';
                document.getElementById('emo_Neutral').style.width = result_data4["Neutral"].toFixed(3) * 100 +'%';
                document.getElementById('emo_Mixed').style.width = result_data4["Mixed"].toFixed(3) * 100 +'%';
                document.getElementById('emo_Negative').style.width = result_data4["Negative"].toFixed(3) * 100 +'%';

                // 각 Label에 %표시
                document.getElementById('positive_label').innerHTML = 'Positive' + ' ' + (result_data4["Positive"]*100).toFixed(1) + '%'
                document.getElementById('neutral_label').innerHTML = 'Neutral' + ' ' + (result_data4["Neutral"]*100).toFixed(1) + '%'
                document.getElementById('mixed_label').innerHTML = 'Mixed' + ' ' + (result_data4["Mixed"]*100).toFixed(1) + '%'
                document.getElementById('negative_label').innerHTML = 'Negative' + ' ' + (result_data4["Negative"]*100).toFixed(1) + '%'
            },

            // 오류가 발생했을 경우
            error:function(){
                alert('Error');
            }
        });
    })

    // {% comment %} 이미지 파일 업로드 ajax {% endcomment %}
    function ajaxFileUpload() {
        var picture = $('#picture')[0].files[0]; //이미지 파일
        var form = new FormData(); //formData 객체
        form.append("picture", picture); //formData 객체에 파일 담기
        $.ajax({
            url: "{% url 'diary:img_emotion' %}", //views.py의 img_emotion
            type: "POST",
            headers: {
                'X-CSRFTOKEN' : '{{ csrf_token }}' //CSRF 보안 에러 방지
            },
            data: form, //보낼 데이터
            processData: false, //쿼리스트링 형태가 아닌 키와 벨류 형태로 전달
            contentType: false, //urlencoded는 파일 전송을 하지 못하므로 false

            success: function(result) { //성공 시
                result_emotion_all = result["rekognition"];
                result_emotion_happy = result_emotion_all["HAPPY"];
                result_emotion_sad = result_emotion_all["SAD"];
                result_emotion_angry = result_emotion_all["ANGRY"];
                result_emotion_confused = result_emotion_all["CONFUSED"];
                result_emotion_disgusted = result_emotion_all["DISGUSTED"];
                result_emotion_surprised = result_emotion_all["SURPRISED"];
                result_emotion_calm = result_emotion_all["CALM"];
                result_emotion_fear = result_emotion_all["FEAR"];

                //board_img 결과
                $('#board_img').val(result_emotion_happy.toFixed(1) + "/" + result_emotion_sad.toFixed(1) + "/"
                 + result_emotion_angry.toFixed(1) + "/" + result_emotion_confused.toFixed(1) + "/" + result_emotion_disgusted.toFixed(1) + "/"
                 + result_emotion_surprised.toFixed(1) + "/" + result_emotion_calm.toFixed(1) + "/" + result_emotion_fear.toFixed(1));

                //이미지 분석 결과 라벨
                document.getElementById("label_happy").innerHTML = 'Happy' + ' ' + result_emotion_happy.toFixed(1) + '%'
                document.getElementById("label_sad").innerHTML = 'Sad' + ' ' + result_emotion_sad.toFixed(1) + '%'
                document.getElementById("label_angry").innerHTML = 'Angry' + ' ' + result_emotion_angry.toFixed(1) + '%'
                document.getElementById("label_confused").innerHTML = 'Confused' + ' ' + result_emotion_confused.toFixed(1) + '%'
                document.getElementById("label_disgusted").innerHTML = 'Disgusted' + ' ' + result_emotion_disgusted.toFixed(1) + '%'
                document.getElementById("label_surprised").innerHTML = 'Surprised' + ' ' + result_emotion_surprised.toFixed(1) + '%'
                document.getElementById("label_calm").innerHTML = 'Calm' + ' ' + result_emotion_calm.toFixed(1) + '%'
                document.getElementById("label_fear").innerHTML = 'Fear' + ' ' + result_emotion_fear.toFixed(1) + '%'

                //이미지 분석 결과 프로그레스바
                document.getElementById("board_img_happy").style.width = result_emotion_happy.toFixed(3) + '%';
                document.getElementById("board_img_sad").style.width = result_emotion_sad.toFixed(3) + '%';
                document.getElementById("board_img_angry").style.width = result_emotion_angry.toFixed(3) + '%';
                document.getElementById("board_img_confused").style.width = result_emotion_confused.toFixed(3) + '%';
                document.getElementById("board_img_disgusted").style.width = result_emotion_disgusted.toFixed(3) + '%';
                document.getElementById("board_img_surprised").style.width = result_emotion_surprised.toFixed(3) + '%';
                document.getElementById("board_img_calm").style.width = result_emotion_calm.toFixed(3) + '%';
                document.getElementById("board_img_fear").style.width = result_emotion_fear.toFixed(3) + '%';

                alert('Success!')
            },
            error: function(){ //실패 시
                alert('Error!');
            }
        });
    }

    // {% comment %} image preview 자바스크립트 {% endcomment %}
    function imgPreview(input) {
            if (input.files && input.files[0]) { //파일을 올리면
                var reader = new FileReader(); //파일을 읽는 객체

                reader.onload = function (e) {
                    $('#mypic').attr('src', e.target.result); //이미지 경로 설정
                    $('#mypic').attr('style', "display:block"); //이미지 보이기
                };

                reader.readAsDataURL(input.files[0]);
            }
    }
</script>

{% endblock %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}">